.creator-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eae7e7;
}

.creator-body {
  padding: 15px;
}

.creator-page-home {
  color: #1e1d1d;
}

.creator-page-article .slot-title {
  display: flex;
}

.creator-page-article .slot-title .active {
  color: var(--primary);
}

.creator-page-article .slot-title div {
  cursor: pointer;
  margin-right: 15px;
}

.creator-page-article .slot-title div:hover {
  color: var(--primary);
}

.creator-page-help .slot-title {
  display: flex;
}

.creator-page-help .slot-title .active {
  color: var(--primary);
}

.creator-page-help .slot-title div {
  cursor: pointer;
  margin-right: 15px;
}

.creator-page-help .slot-title div:hover {
  color: var(--primary);
}
